article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* Default styles */
img {
  max-width: 100%;
  width: 100%;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, p {
  margin: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

/* Wrapper styles */
.wrapper {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto; }

/* Font and Background Styles */
html {
  font-size: 125%; }

body {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  color: #363537;
  line-height: 1.6; }

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 5rem;
  letter-spacing: 8px; }

h2, h3 {
  font-size: 2rem;
  font-weight: 900; }

h3 {
  letter-spacing: 2px; }

p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px; }

.button {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  background: transparent;
  border: 10px double #00cc66;
  text-align: center;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 8px 20px springgreen;
  box-shadow: 2px 8px 20px springgreen;
  -webkit-transition: background 500ms, border 500ms, border-radius 200ms, -webkit-box-shadow 500ms;
  transition: background 500ms, border 500ms, border-radius 200ms, -webkit-box-shadow 500ms;
  -o-transition: background 500ms, border 500ms, box-shadow 500ms, border-radius 200ms;
  transition: background 500ms, border 500ms, box-shadow 500ms, border-radius 200ms;
  transition: background 500ms, border 500ms, box-shadow 500ms, border-radius 200ms, -webkit-box-shadow 500ms;
  margin-top: 40px; }
  .button:hover, .button:active, .button:focus {
    background: #00cc66;
    border: 10px double #363537;
    -webkit-box-shadow: 0px 4px 20px #363537;
    box-shadow: 0px 4px 20px #363537; }
  .button:active, .button:focus {
    border-radius: 40px; }

.button:not(.get-started) {
  width: 40%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.swal-button {
  background: springgreen; }
  .swal-button:not([disabled]):hover {
    background: #00cc66; }
  .swal-button:active {
    background: springgreen; }
  .swal-button:focus {
    background: springgreen; }

.header-flex-container {
  min-height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.header-background-container {
  background: rgba(250, 240, 230, 0.95);
  padding: 100px 50px;
  border-radius: 10px; }

.question-flex-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sick-answer, .emergency-answer {
  min-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }

.question-background-container {
  background: rgba(250, 240, 230, 0.95);
  padding: 100px 50px;
  border-radius: 10px; }

.answer-label {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-left: 50px;
  margin: 2.5px; }

.answer-label::before {
  content: "";
  width: 30px;
  height: 30px;
  background: transparent;
  border: 5px solid #00cc66;
  position: absolute;
  margin-top: 5px;
  left: -10px;
  border-radius: 50%; }

input[type="radio"]:hover + .answer-label::before, input[type="radio"]:checked + .answer-label::before {
  background: #00cc66; }

input[type="radio"]:checked + label {
  font-weight: 700; }

input[type="radio"]:active + .answer-label::before, input[type="radio"]:focus + .answer-label::before {
  border: 5px solid springgreen;
  background: springgreen; }

input[type="radio"] {
  opacity: 0;
  position: absolute; }

.results-flex-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.results-background-container {
  background: rgba(250, 240, 230, 0.95);
  padding: 20px 20px 30px 20px;
  border-radius: 10px; }

.excuse-heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
  text-align: center; }

.bold {
  font-size: 1.7rem;
  font-weight: 700; }

.results-para {
  margin-top: 20px; }

.footer {
  min-height: 10vh; }

.footer-para {
  font-size: 1rem;
  text-align: center;
  padding: 30px 50px 80px 50px;
  border-radius: 50%;
  color: linen;
  background: #363537;
  position: fixed;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

@media (max-width: 1150px) {
  h3 {
    font-size: 1.7rem; }
  p, .answer-label {
    font-size: 1.3rem; }
  .answer-label::before {
    top: -7px; }
  .excuse-heading {
    font-size: 2rem; }
  .bold {
    font-size: 1.5rem;
    font-weight: 700; }
  .header-background-container, .question-background-container {
    padding: 70px 30px; } }

@media (max-width: 920px) {
  h1 {
    font-size: 4rem; }
  p, .answer-label {
    font-size: 1.1rem; }
  .bold {
    font-size: 1.3rem; }
  .button:not(.get-started) {
    width: 60%; } }

@media (max-width: 720px) {
  .footer-para {
    padding: 30px 30px 80px 30px; } }

@media (max-width: 680px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 1.5rem; } }

@media (max-width: 640px) {
  h3 {
    font-size: 1.5rem; }
  .excuse-heading {
    font-size: 1.3rem; }
  p, .answer-label {
    font-size: 1rem; }
  .footer-para {
    font-size: 0.8rem;
    width: 70%; }
  .bold {
    font-size: 1.1rem; }
  .button:not(.get-started) {
    width: 80%; } }

@media (max-width: 550px) {
  .button {
    font-size: 1rem;
    border: 5px double #00cc66;
    padding: 10px 20px;
    margin-top: 20px; }
    .button:hover, .button:active, .button:focus {
      border: 5px double #363537; }
  .button:not(.get-started) {
    width: 85%; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.3rem;
    font-weight: 700; }
  .excuse-heading {
    font-size: 1.2rem;
    letter-spacing: 2px; }
  p {
    font-size: 0.9rem; }
  .footer-para {
    width: 85%; } }
